<form action="/data" method = "POST">
	<label for="url">YouTube URL to download:</label><br>
	<input type="url" id="url" name="url" size="40" placeholder="e.g., https://www.youtube.com/watch?v=t8OZPJfpcTM" />

      
	<p>Select where to save the video: </p>
	<input type="radio" id="tv" name="destination" value="/opt/vc/lib/tv/">
	<label for="tv">TV</label><br>
	<input type="radio" id="movies" name="destination" value="/opt/vc/lib/movies/">
	<label for="movies">Movies</label><br>
	<input type="radio" id="shows" name="destination" value="/opt/vc/lib/shows/">
	<label for="shows">Shows</label><br>
	<input type="radio" id="kids" name="destination" value="/opt/vc/lib/kids/">
	<label for="kids">Kids</label>

	<p><input type = "submit" value = "Download" /></p>
</form>
